<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:int="http://www.springframework.org/schema/integration"
        xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.kang.spring.integration" />

    <int:control-bus input-channel="controlBusChannel" auto-startup="true"></int:control-bus>

    <int:channel id="adapterOutputChannel">
        <int:queue></int:queue>
    </int:channel>

    <int:inbound-channel-adapter
            id="processAdapter"
            ref="processServiceImpl" method="mainProcess"
                channel="adapterOutputChannel"
                    auto-startup="false">
            <int:poller fixed-rate="1000"></int:poller>
    </int:inbound-channel-adapter>
</beans>