<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:int="http://www.springframework.org/schema/integration"
        xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.kang.spring.integration" />

    <int:channel id="inputChannel">
    </int:channel>

    <int:chain
            input-channel="inputChannel"
            output-channel="outputChannel"
            auto-startup="true">
        <int:header-enricher>
            <int:header name="myHeader" expression="payload.contains('ABC')"></int:header>
        </int:header-enricher>
        <int:transformer expression="payload.toLowerCase()"></int:transformer>
    </int:chain>

    <int:channel id="outputChannel">
        <int:queue></int:queue>
    </int:channel>


</beans>