<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:int="http://www.springframework.org/schema/integration"
        xmlns:int-feed="http://www.springframework.org/schema/integration/feed"

        xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/integration/feed http://www.springframework.org/schema/integration/feed/spring-integration-feed.xsd
                ">

    <context:component-scan base-package="com.kang.spring.integration" />

    <int-feed:inbound-channel-adapter id="feedAdapter"
                                      channel="articleChannel" auto-startup="true"
                                      url="http://rss.cnn.com/rss/cnn_topstories.rss" >
        <int:poller fixed-rate="10000" max-messages-per-poll="100" />
    </int-feed:inbound-channel-adapter>

    <int:channel id="articleChannel">
        <int:priority-queue/>
    </int:channel>


</beans>